# +----------------------------+
# |         python             |
# +----------------------------+
/venv
__pycache__/
/**/*.pyc
*.py[cod]

*.mo
*.pot


# +----------------------------+
# |         IDE files          |
# +----------------------------+
.idea/
.bash_history
.python_history
.local/


# +----------------------------+
# |         env file           |
# +----------------------------+
/.env

# +----------------------------+
# |          django            |
# +----------------------------+
/static/*

# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+
!.gitkeep
scripts